.items{
    flex-direction: column;
}

.item{
    display: flex;
    /* border: 2px solid black; */
    padding: 0px 20px;
}

.items img{
    margin-right: 10px;
    width: 15rem;
    height: 15rem;
}

.footer{
    margin-top:20px ;
    position: absolute;
    bottom: 0px;
    width: 100vw;
}