*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clock-con{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    border: 2px solid black;
    background-color: rgb(2, 10, 10);
    width: 80vw;
    height: 80vw;
    background-image: url("302-3022210_best-photos-of-analog-clock-template.png");
    background-size: cover;
    border-radius: 15%;
    position: relative;
}

.hour,.min,.sec{
    position: absolute;
    background-color: rgb(16, 3, 3);
    box-sizing: 10px;
    transform-origin: bottom;
}

.hour{
    width: 1.5%;
    height:30%;
    top:20%;
    left: 49.25%;
}

.min{
    width: 1.3%;
    height:35%;
    top:15%;
    left: 49.35%;
}
.sec{
    width: 1%;
    height:40%;
    top:10%;
    left: 49.5%;
}